<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <title>首頁</title>
</head>

<body>
  <h1>目前時間:{{today}}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sapiente repudiandae accusantium reiciendis
    facilis. Qui doloremque repellat eum velit quas.</p>
  <a href="/books" target="_blank">書籍資料</a>
  <br>
  <a href="/pm25" target="_blank">PM 2.5資料</a>
  <br>
  <a href="/pm25-chart" target="_blank">PM 2.5資料視覺</a>

  <script>
    // const h1El = document.querySelector('h1');
    // console.log(h1El);
    // h1El.innerHTML = "<h2>TEST!</h2>"

    // $('h1').html('<h2>123</h2>');
    // $('h1').css('color', 'red')
  </script>
</body>

</html>